@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300&display=swap');
body{
  margin: 0;
  padding: 0;
  /* color: white; */
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

/* chrome&* */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(33, 31, 31);
}

.toast{
  color: white;
  word-break: break-all;
  margin: 10px 15px;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}
.box input{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(33, 31, 31);
  outline: none;
  font-size: 20px;
  margin-bottom: 10px;
}

#btn{
  padding: 10px;
  border: none;
  color : white;
  background-color: green;
  width: 100%;
  font-size: 14px;
}

.chat-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  height: 80%;
  width: 800px;
}

@media screen and (max-width: 952px) {
  .chat-box{
    width: 600px !important;
  }
}

@media screen and (max-width: 702px) {
  .chat-box{
    width: 500px !important;
  }
}

@media screen and (max-width: 566px) {
  .chat-box{
    width: 400px !important;
  }
}

@media screen and (max-width: 448px) {
  .chat-box{
    width: 340px !important;
  }
}

.users-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(254, 254, 254);
  height: 10%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.user{
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 4px 8px;
  margin: 0px 5px;
  white-space:nowrap;
}

.msg-box{
  display: flex !important;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: rgb(131, 170, 105);
  padding: 10px;
  margin: 10px;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

.left{
  width: 88%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  text-align: justify;
  font-size: large;
  word-break: break-all;
  white-space:normal;
  background-color: rgb(216, 239, 212);
  border-radius: 12px;
  padding: 1px 5px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.right{
  width: 88%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  text-align: justify;
  font-size: large;
  word-break: break-all;
  white-space: normal;
  background-color: rgb(191, 208, 228);
  border-radius: 12px;
  padding: 1px 5px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.input-box{
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.input-box input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: large;
  background-color: transparent;
}
.input-box .button{
  margin: 2px 10px;
  cursor: pointer;
}
.input-box .button:hover{
  scale: 1.2;
}